In [1]:
import pandas as pd
import time
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import math
import numpy as np
import operator
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [2]:
df=pd.read_csv("F:\\Amrita\\5th Semester\\Machine Learning\\Lab\\Lab-7\\buys_comp_dataset.csv")
df

      age  income student credit_rating buys_computer
0    <=30    high      no          fair            no
1    <=30    high      no     excellent            no
2   31…40    high      no          fair           yes
3     >40  medium      no          fair           yes
4     >40     low     yes          fair           yes
5     >40     low     yes     excellent            no
6   31…40     low     yes     excellent           yes
7    <=30  medium      no          fair            no
8    <=30     low     yes          fair           yes
9     >40  medium     yes          fair           yes
10   <=30  medium     yes     excellent           yes
11  31…40  medium      no     excellent           yes
12  31…40    high     yes          fair           yes
13    >40  medium      no     excellent            no

In [3]:
#A1

# Using normal probability

# Get the counts of 'buys_computer' column (number of people who bought and didn't buy a computer)
prior_1 = (df['buys_computer']).value_counts()

# Get the total number of records in the 'buys_computer' column
total_count = df['buys_computer'].count()

# Calculate the probabilities for both classes (buys and doesn't buy) by dividing counts by the total count
probability = [(prior_1[1] / total_count), (prior_1[0] / total_count)]

# Print the probabilities using normal probability calculation
print("Using normal probability: ", probability)

# Using groupby function

# Group the data by the 'buys_computer' column and calculate the relative frequency (probability) by dividing by total rows
prior = df.groupby('buys_computer').size().div(len(df))

# Print the probabilities using the groupby function
print("Using groupby function: \n", prior)

Using normal probability:  [0.35714285714285715, 0.6428571428571429]
Using groupby function:
 buys_computer
no     0.357143
yes    0.642857
dtype: float64

In [4]:
#A2
# Create a cross-tabulation of 'student' and 'buys_computer' columns from the dataframe 'df'
# The 'normalize=True' parameter normalizes the cross-tab so that it shows the relative frequencies (probabilities)
# The 'margins=True' parameter adds row and column totals (margins) to the cross-tab

#student
c_d_s = pd.crosstab(df.student, df.buys_computer, normalize=True, margins=True)

# Display the cross-tabulation table
c_d_s

buys_computer        no       yes  All
student
no             0.285714  0.214286  0.5
yes            0.071429  0.428571  0.5
All            0.357143  0.642857  1.0

In [5]:
#Income
c_d_i = pd.crosstab(df.income, df.buys_computer, normalize=True, margins=True)
c_d_i

buys_computer        no       yes       All
income
high           0.142857  0.142857  0.285714
low            0.071429  0.214286  0.285714
medium         0.142857  0.285714  0.428571
All            0.357143  0.642857  1.000000

In [6]:
#age
c_d_a = pd.crosstab(df.age, df.buys_computer, normalize=True, margins=True)
c_d_a

buys_computer        no       yes       All
age
31…40          0.000000  0.285714  0.285714
<=30           0.214286  0.142857  0.357143
>40            0.142857  0.214286  0.357143
All            0.357143  0.642857  1.000000

In [7]:
#credit_rating
c_d_cr = pd.crosstab(df.credit_rating, df.buys_computer, normalize=True, margins=True)
c_d_cr

buys_computer        no       yes       All
credit_rating
excellent      0.214286  0.214286  0.428571
fair           0.142857  0.428571  0.571429
All            0.357143  0.642857  1.000000

In [8]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df["age"] = label_encoder.fit_transform(df["age"])
df["income"] = label_encoder.fit_transform(df["income"])
df["student"] = label_encoder.fit_transform(df["student"])
df["credit_rating"] = label_encoder.fit_transform(df["credit_rating"])
df["buys_computer"] = label_encoder.fit_transform(df["buys_computer"])
df

    age  income  student  credit_rating  buys_computer
0     1       0        0              1              0
1     1       0        0              0              0
2     0       0        0              1              1
3     2       2        0              1              1
4     2       1        1              1              1
5     2       1        1              0              0
6     0       1        1              0              1
7     1       2        0              1              0
8     1       1        1              1              1
9     2       2        1              1              1
10    1       2        1              0              1
11    0       2        0              0              1
12    0       0        1              1              1
13    2       2        0              0              0

In [9]:
#A3

# Initialize an empty list to store the matrix
matrix = []

# Initialize an empty list to store the arrays (columns from dataframe)
arr = []

# Loop through the first 4 columns (index 0 to 3) of the dataframe 'df'
for i in range(0, 4):
    # Extract the column as a numpy array and append to the 'arr' list
    arr.append(df.iloc[:, i].to_numpy())

# Outer loop to iterate through the first 4 arrays in 'arr'
for i in range(0, 4):
    # Initialize a list to store the dot products for the current row
    mat = []
    
    # Inner loop to calculate dot products for columns ahead of the current one
    for j in range(i + 1, 4):
        # Calculate the dot product between the i-th and j-th array
        mat.append(np.dot(arr[i], arr[j]))
    
    # Append the resulting row (dot products) to the matrix
    matrix.append(mat)

# Print the final matrix
print(matrix)

[[21, 8, 9], [8, 8], [4], []]

In [10]:
F_dt=df[['age','income','student','credit_rating']]
X=np.asarray(F_dt)
y=np.asarray(df['buys_computer'])
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [11]:
#A4
from sklearn.naive_bayes import GaussianNB  # Import Gaussian Naive Bayes model from scikit-learn

model = GaussianNB()  # Initialize the Gaussian Naive Bayes model

# Calculating the accuracy for training and testing data
model = model.fit(X_train, y_train)  # Fit the model using training data (X_train and y_train)

# Testing the accuracy
T1 = model.score(X_train, y_train)  # Calculate the accuracy on the training data
T2 = model.score(X_test, y_test)  # Calculate the accuracy on the test data

# Print the accuracy results
print("The accuracy of X_train, y_train : ", T1)  # Print the accuracy of the training data
print("The accuracy of X_test, y_test : ", T2)  # Print the accuracy of the test data

The accuracy of X_train, y_train :  0.9090909090909091
The accuracy of X_test, y_test :  0.6666666666666666

In [12]:
dataframe = pd.read_excel("F:\\Amrita\\5th semester_2024\\Machine Learning\\Project\\Final Project data after preproceesing.xlsx",nrows = 100)
dataframe.head()

,BMI,4. Age (in years),5. Height (in cms),6. Weight (in kgs),Financial insecurity faced due to lockdown,Is not being able to hangout and meet your friends and classmates in any way affecting your mental health?,quarantine impact,When did you have more free time?,How many days in a week do you practice meditation?,"19. Out of the following, choose 5 tools which you use most often these days.",happy with online classes,How would you rate your mental well being ?,17. Average sleeping hours per day,6. How is online classes impacting your academic performance?,Posture related problems faced after attending online classes,Problems faced after attending online classestring_Count,mentalh_level,to
0,27.887617,45,155.0,67.0,6,1,1,1,1,11,0,5,7,149,4,6,Bad,0.002789
1,26.609713,20,169.0,76.0,1,1,1,1,0,11,1,10,5,89,2,4,Good,0.002661
2,20.613131,23,151.0,47.0,3,1,1,0,0,11,1,5,7,129,3,9,Bad,0.002061
3,21.224490,19,175.0,65.0,2,1,0,0,0,12,0,7,9,152,5,5,Good,0.002122
4,17.959184,20,175.0,55.0,8,1,0,1,0,17,0,4,5,9,1,1,Bad,0.001796

In [15]:
#Training the dataframe

F_datafram=dataframe[['Is not being able to hangout and meet your friends and classmates in any way affecting your mental health?','to','17. Average sleeping hours per day',' Financial insecurity faced due to lockdown','BMI','4. Age (in years)','5. Height (in cms)','6. Weight (in kgs)','quarantine impact','When did you have more free time?','happy with online classes',' How many days in a week do you practice meditation?','19. Out of the following, choose 5 tools which you use most often these days.','happy with online classes','How would you rate your mental well being ?','Posture related problems faced after attending online classes','Problems faced after attending online classestring_Count']]
X=np.asarray(F_datafram)
y=np.asarray(dataframe['mentalh_level'])
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [14]:
#A5
from sklearn.naive_bayes import GaussianNB  # Import Gaussian Naive Bayes model from scikit-learn

model = GaussianNB()  # Initialize the Gaussian Naive Bayes model

# Calculating the accuracy for training and testing data
model = model.fit(X_train, y_train)  # Fit the model using training data (X_train and y_train)

# Testing the accuracy
T1 = model.score(X_train, y_train)  # Calculate the accuracy on the training data
T2 = model.score(X_test, y_test)  # Calculate the accuracy on the test data

# Print the accuracy results
print("The accuracy of X_train, y_train : ", T1)  # Print the accuracy of the training data
print("The accuracy of X_test, y_test : ", T2)  # Print the accuracy of the test data

The accuracy of X_train, y_train :  0.8
The accuracy of X_test, y_test :  0.75